.serviceInnerRightOneImg1 {
  height: 320px;
  width: 240px;
  margin: 15px 0;
}
.serviceInnerRightOneImg2 {
  height: 250px;
  width: 240px;
  margin: 15px 0;
}
.serviceInnerRightOneImg3 {
  height: 250px;
  width: 240px;
  margin: 15px 0;
}
.serviceInnerRightOneImg4 {
  height: 320px;
  width: 240px;
  margin: 15px 0;
}